
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #000000;
  
    color: white;
}




header Link h1 {
    color: #f8f6f2;
 
}
h1{font-family:'Times New Roman', Times, serif}
.listas {font-family: 'Times New Roman', Times, serif;}









nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}


nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

nav a.active {
    color: #fff9f1;
}

